body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #0d0d0d;
    color: #00ffcc;
    overflow: hidden; 
}
.container {
    width: 80vw; 
    margin: auto;
    overflow: hidden;
}
header {
    background: linear-gradient(90deg, #ff00ff, #00ffff);
    color: #fff;
    padding-top: 2vh; 
    min-height: 10vh; 
    border-bottom: #00ffcc 3px solid;
    text-align: center;
}
header h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5em;
}
.main-content {
    padding: 2vh; 
    background: #1a1a1a;
    margin: 0; 
    border: 1px solid #00ffcc;
    box-shadow: 0 0 10px #00ffcc;
    border-top: none; 
    border-bottom: none; 
    width: 100vw; 
    height: calc(100vh - 10vh - 4vh); 
    overflow: auto; 
}
.main-content h1 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
}
.main-content p {
    text-align: center;
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;

}
.main-content p strong{
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    
    color: #ff00ff;
}

footer {
    background: linear-gradient(90deg, #ff00ff, #00ffff);
    color: #fff;
    text-align: center;
    padding: 1vh; 
    width: 100vw; 
    border-top: #00ffcc 3px solid;
    position: absolute;
    bottom: 0;
}
